:root  {
    /* PRIMITIVES VARIABLES */
    /* Colors */
    --white: hsl(0, 100%, 100%);
    --grey-900: hsl(217, 19%, 35%);
    --grey-500: hsl(214, 17%, 51%);
    --grey-400: hsl(212, 23%, 69%);
    --grey-200: hsl(210,46%, 95%);

    /* Base */
    --base: 16;

    /* Spacing */
    --spacing-0: 0;
    --spacing-200: calc(16 / var(--base) * 1rem);  /* 16px */
    --spacing-300: calc(24 / var(--base) * 1rem);  /* 24px */
    --spacing-400: calc(32 / var(--base) * 1rem);  /* 32px */
    --spacing-500: calc(40 / var(--base) * 1rem);  /* 40px */
    --spacing-600: calc(48 / var(--base) * 1rem);  /* 48px */
    --spacing-700: calc(56 / var(--base) * 1rem);  /* 56px */
    --spacing-800: calc(64 / var(--base) * 1rem);  /* 64px */
    --spacing-1300: calc(104 / var(--base) * 1rem);  /* 104px */
    --spacing-2000: calc(160 / var(--base) * 1rem);  /* 160px */

    /* Typography */
    --font-family-base: 'Manrope', sans-serif;

    --font-size-100: calc(13 / var(--base) * 1rem);  /* 13px */
    --font-size-800: calc(20 / var(--base) * 1rem);  /* 20px */

    /* Line height */
    --line-height-300: 1.3;
    --line-height-400: 1.4;

    /* Font weight */
    --font-weight-medium: 500;
    --font-weight-bold: 700;

}