.article-card {
    background-color: var(--bg-article-card);
    max-inline-size: calc( 327 / var(--base) * 1rem);
    display: flex;
    flex-direction: column;
    gap: var(--gap-article-card);
    border-radius: var(--border-radius-card);
}

.article-card__image {
    inline-size: auto;
}

.article-card__image img {
    block-size: auto;  
    inline-size: 130%;  
    object-fit: cover;     
    border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}

.article-card__title {
    font-size: var(--fs-text-title);
    line-height: var(--lh-text-title);
    letter-spacing: var(--tracking-normal);
    color: var(--fc-text-title);
    font-weight: var(--fw-text-title);
}

.article-card__text {
    font-size: var(--fs-text-body);
    line-height: var(--lh-text-body);
    letter-spacing: var(--tracking-normal);
    color: var(--fc-text-body);
    font-weight: var(--fw-text-body);
}


@media (min-width: 48em){
    .article-card {
        flex-direction: row;
        max-inline-size: calc( 608 / var(--base) * 1rem);
    }

    .article-card__image {
        flex: 0 0 229px;
        width: 100%;
        height: auto;
    }

    .article-card__image img {
        border-radius: var(--border-radius-card) 0 0 var(--border-radius-card);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 30% center;
    }

    .article-card__title {
        max-inline-size: 28ch;
    }

   .article-card__text {
        max-inline-size: 40ch;
    }
}

@media (min-width: 64em){
    .article-card {
        max-inline-size: calc( 730 / var(--base) * 1rem);
    }

    .article-card__image {
        flex: 0 0 285px;
    }

    .article-card__image img {
        object-position: 6% center;
    }

    .article-card__title {
        max-inline-size: 35ch;
    }

    .article-card__text {
        max-inline-size: 50ch;
    }
}