.share-button {
  position: relative;
  z-index: 10;
  padding: 0;
  block-size: var(--share-button-block-size);
  inline-size: var(--share-button-inline-size);
  color: var(--bg-button-share-active);
  background-color: var(--bg-primary);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  transition:
    transform var(--duration-fast),
    background-color var(--duration-toast-fade),
    color var(--duration-toast-fade);
}

.share-button.is-active {
  background-color: var(--bg-button-share-active);
  color: var(--white);
}

.share-button:hover {
  transform: scale(1.1);
}

/* Disable or simplify transitions for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  .share-button {
  transition: none; /* Turn off transitions completely */
  }
}
