.share-button {
    padding: 0;
    block-size: var(--share-button-block-size);
    inline-size: var(--share-button-inline-size);
    color: var(--bg-button-share-active);
    background-color: var(--bg-primary);
    border-radius: 50%;
    border: none;
    position: relative;
    z-index: 2;
}

.share-button.is-active {
    background-color: var(--bg-button-share-active);
    color: var(--white);
}

.share-button:hover {
    background-color: var(--bg-button-share-active);
    color: var(--white);
    transform: scale(1.2);
}


@media (prefers-reduced-motion: no-preference) {
    .share-button {
    transition: transform 0.15s ease-in-out, background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }

  .share-button__icon{
    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
  }
}